@use "@/styles/base/variables" as *;
@use "sass:color";

.button {
	color: white;
	background-color: $color-accent;

	padding: 14px 26px;
	border-radius: 8px;

	transition: background-color 0.2s ease;

	&:hover {
		background-color: color.adjust($color-accent, $lightness: 15%);
	}
}
