@use "@/styles/base/util";
@use "@/styles/base/variables" as *;

.header {
	text-align: center;
	margin-bottom: 3rem;
}

.title {
	color: $color-navy;
	@include util.fontSize($font-size-44);
	font-weight: 700;
	margin-bottom: 1rem;
	line-height: 1.2;

	@media (max-width: 768px) {
		@include util.fontSize($font-size-32);
	}
}

.subtitle {
	color: $color-gray;
	@include util.fontSize($font-size-16);
	max-width: 600px;
	margin: 0 auto;
	line-height: 1.7;
}
