@use "@/styles/base/variables" as *;

@mixin maxWidth($size: 0) {
	margin: 0 auto;

	padding-inline: $sidePadding;

	@if $size == 0 {
		max-width: $maxWidth + ($sidePadding * 2);
	} @else {
		max-width: $size + ($sidePadding * 2);
	}
}

@function calculateRem($size) {
	@return math.div($size, 16px) * 1rem;
}

@mixin fontSize($size) {
	font-size: $size;
	font-size: calculateRem($size);
}
