@use "sass:math";
@use "@/styles/base/variables" as *;

@mixin maxWidth($size: 0) {
	margin: 0 auto;

	padding-inline: $sidePadding;

	@if $size == 0 {
		max-width: $maxWidth + ($sidePadding * 2);
	} @else {
		max-width: $size + ($sidePadding * 2);
	}
}

@function calculateRem($size) {
	@if math.unit($size) == "px" {
		@return math.div(math.div($size, 1px), 16) * 1rem;
	}
	@return $size;
}

@mixin fontSize($size) {
	font-size: $size;
	font-size: calculateRem($size);
}
